.serviciosTaller{
    background-color: #E5E5CB;
}

.serviciosTaller .row {
    margin: 0;
    padding: 0;
}

.serviciosTaller h2{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.quienesSomos div{
    background-image: url(./quienssomos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: rgba(0,0,0,.7);
    background-blend-mode: multiply;
    display: flexbox;
    width: 100%; 
    align-content: center;
    justify-items: center;
    text-align: center;
}

.quienesSomos div h3{
    color: #E5E5CB;
    text-align: center;
    font-size: 3rem;
    margin: 0;
    padding-top: 5rem;
}

.quienesSomos .primerTexto{
    color: #E5E5CB;
    font-size: 1.2rem;
    text-align: center;
    /* padding: 4rem 6rem; */
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.primertextoServicio{
    text-align: center;
}

.primertextoServicio h3 {
    font-size: 2rem;
    padding-top: 1rem;
}

.primertextoServicio p {
    padding-top: 3rem;
    font-size: 1.2rem;
}

.primerFoto{
    background-image: url(./Reparacion\ Carroceria\ 2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 43vh;
}

